@import url("https://fonts.googleapis.com/css?family=Oxygen");

html,
body {
  font-family: "Oxygen", sans-serif;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}

.titleContainer {
  color: #a869a8;
  text-align: center;
}

.bodyContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.blurb {
  flex: 1;
  border: 5px solid #a869a8;
  border-radius: 6px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.day,
button.next {
  font-size: 22px;
  color: #a869a8;
  font-weight: bold;
}

.day {
  height: 50px;
}

.text {
  margin-top: 10px;
  height: 100px;
}

.buttonContainer {
  margin-top: 10px;
}

button.next {
  font-size: 20px;
  background-color: white;
  border: 2px solid #a869a8;
  border-radius: 6px;
}

button.next:focus {
  outline: 0;
}

button.next:hover {
  cursor: pointer;
}

button.next:active {
  background-color: #ffeaff;
}

.demo {
  flex: 4;
}
